<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desarrollo Tools</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
</head>
<body>
    <header>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <h1 class="navbar-brand">Desarrollo Tools</h1>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="testimonio">Nuevo testimonio</a>
                </li>
              </ul>
            </div>
          </nav>
        <div class="text-center">
        <picture>
            <source media="(max-width: 576px)" srcset="img/portada-mobile.jpg">
            <source media="(max-width: 768px)" srcset="img/portada-tablet.jpg">
            <img class="img-fluid text-center" src="img/portada-web.jpg" alt="Joven con una computadora">
        </picture>
        </div>  
    </header>
    <section class="container-fluid mt-4">
      <h2 class="text-center">Webs con cursos y certificados oficiales</h2>
      <div class="row d-flex justify-content-between p-0">
        <div class="card col-md-3">
          <div class="row">
            <img class="card-img-top img-fluid offset-3 col-6 mt-3" src="img/udemy.png" alt="Logo Udemy">
          </div>
          <div class="card-body">
            <h5 class="card-title">Udemy</h5>
            <p class="card-text">Una de las más grandes plataformas de aprendizaje online en la que encontramos multitud de material de todo tipo, tanto académico como alejado de los centros educativos. Muchos cursos gratuitos y otros tantos de pago, aunque con precios muy asumibles, y mucho contenido en español así como en muchos otros idiomas. Al contrario que otras plataformas, los cursos están disponibles continuamente y podemos comenzarlos cuando queramos.</p>
            <a href="https://www.udemy.com/" class="btn btn-primary">Ir al sitio</a>
          </div>
        </div>
        <div class="card col-md-3">
          <div class="row">
            <img class="card-img-top img-fluid offset-3 col-6 mt-3" src="img/edx.png" alt="Logo edX">
          </div>
          <div class="card-body">
            <h5 class="card-title">edX</h5>
            <p class="card-text">Fundada por el Instituto Tecnológico de Massachusetts y la Universidad de Harvard en 2012, ofrece cursos gratuitos de nivel universitario de un amplio rango de disciplinas. En la actualidad cuenta con más de 2 millones de usuarios y más de 50 institutos, organizaciones sin ánimo de lucro, corporaciones y organizaciones internacionales que ofrecen o planean ofrecer más de 500 cursos de formación online.</p>
            <a href="https://www.edx.org/es" class="btn btn-primary">Ir al sitio</a>
          </div>
        </div>
        <div class="card col-md-3">
          <div class="row">
            <img class="card-img-top img-fluid offset-3 col-6 mt-3" src="img/coursera.png" alt="Logo Coursera">
          </div>
          <div class="card-body">
            <h5 class="card-title">Coursera</h5>
            <p class="card-text">Esta plataforma educativa está asociada con universidades y organizaciones de renombre de todo el mundo para proporcionar formación online. Además de videolecciones, ofrece cuestionarios interactivos, es posible hacer tareas y que sean evaluadas por los compañeros… Es gratuita. Una de sus ventajas es que en la home es posible ver ‘los programas especializados más populares’, ‘los más populares’, ‘populares entre los hispanohablantes’…</p>
            <a href="https://es.coursera.org/" class="btn btn-primary">Ir al sitio</a>
          </div>
        </div>
        <div class="card col-md-3">
          <div class="row">
            <img class="card-img-top img-fluid offset-3 col-6 mt-3" src="img/linkedin.png" alt="Logo Linkedin Learning">
          </div>
          <div class="card-body">
            <h5 class="card-title">Linkedin Learning</h5>
            <p class="card-text">El sitio en sí mismo es una subsidiaria de LinkedIn. La versión de "aprendizaje" del sitio está diseñada para ayudar a las personas a aprender habilidades útiles e incluso esenciales que les ayuden a desarrollar sus carreras profesionales en el mercado laboral actual. El sitio web ofrece cursos sobre diversos temas, desde negocios y tecnología hasta temas creativos y artísticos.</p>
            <a href="https://www.linkedin.com/" class="btn btn-primary">Ir al sitio</a>
          </div>
        </div>
      </div>
      <p class="mt-3">También te recomendamos algunas páginas y personas de las redes sociales que suelen anunciar los cursos gratis del momento. Asegurate de entrar todos los días ya que la mayoría de estas ofertas duran entre 24 y 48 horas!</p>
      <ul class="row p-0">
        <li class="col-md-3 list-group-item border-0">
          <h3>Agustina Loker</h3>
          <a href="https://twitter.com/AgustinaLocke">Perfil de Twitter</a>
        </li>

        <li class="col-md-3 list-group-item border-0">
          <h3>BondioDuko</h3>
          <a href="https://twitter.com/BondioDuko">Perfil de Twitter</a>
        </li>

        <li class="col-md-3 list-group-item border-0">
          <h3>Future Developer</h3>
          <a href="https://twitter.com/Zenti_Developer">Perfil de Twitter</a>
        </li>

      <li class="col-md-3 list-group-item border-0">
        <h3>Real Discount</h3>
        <a href="https://www.real.discount/">Página Web</a>
      </li>
    </ul>
    <div class="row text center bg-primary py-4">
      <p class="col-12 text-center text-white">Conocés a alguien a quien le vendría bien todo este material?</p>
      <button type="button" id="share" class="btn btn-light mx-auto share">Compartir</button>
    </div>
    </section>
 
    <section class="container-fluid bg-light mt-4 pt-4">
      <div class="text-center">
        <picture>
            <source media="(max-width: 576px)" srcset="img/imagen2-mobile.jpg">
            <source media="(max-width: 768px)" srcset="img/imagen2-tablet.jpg">
            <img class="img-fluid text-center" src="img/imagen2-web.jpg" alt="Joven con una computadora">
        </picture>
        </div> 
      <h2 class="text-center mt-2">Canales de Youtube</h2>
      <p class="text-center font-weight-bold">Cientos de cursos y contenido gratis</p>
      <ul class="row d-flex p-0">

        <li class="col-md-3 list-group-item">
          <div class="row">
            <img class="img-fluid offset-3 col-6 my-3" src="img/freecodecamp.png" alt="Logo FreeCodeCamp">
          </div>
          <a href="https://www.youtube.com/channel/UC8butISFwT-Wl7EV0hUK0BQ">FreeCodeCamp - Canal de Youtube</a>
          <p>FreeCodeCamp cuenta con su canal de Youtube, en el podrás acceder a contenido creado por un montón de programadores de diversos origenes. Hay cursos de casi cualquier tecnología asique asegurate de chequearlo si estás buscando algún contenido específico</p>
          <a href="https://www.freecodecamp.org/">Free Code Camp- Web Oficial</a>
        </li>

        <li class="col-md-3 list-group-item">
          <div class="row">
            <img class="img-fluid offset-3 col-6 my-3" src="img/edteam.png" alt="Logo ED Team">
          </div>
          <a href="https://www.youtube.com/channel/UCP15FVAA2UL-QOcGhy7-ezA">EDTeam - Canal de Youtube</a>
          <p>El canal de EDTeam tiene tanto materiales y recursos específicos de la programación como también contenido informativo y explicativo sobre las diversas ramificaciones del mundo de la programación.</p>
          <a href="https://ed.team/">ED Team - Web Oficial</a>
        </li>

        <li class="col-md-3 list-group-item">
          <div class="row">
            <img class="img-fluid offset-3 col-6 my-3" src="img/pildoras.png" alt="Logo Pildoras Informáticas">
          </div>
          <a href="https://www.youtube.com/channel/UCdulIs-x_xrRd1ezwJZR9ww">Pildoras Informáticas - Canal de Youtube</a>
          <p>Un canal español de cursos muy completo. Particularmente les recomendamos el curso Java por su extenso y acertado contenido. Además de informática, también poseen cursos sobre Ofimática. También tienen una web muy interesante, a continuación les dejamos el link.</p>
          <a href="https://www.pildorasinformaticas.es/">Web - Píldoras Informáticas</a>
        </li>

        <li class="col-md-3 list-group-item">
          <div class="row">
            <img class="img-fluid offset-3 col-6 my-3" src="img/yoney.png" alt="Logo Yoney">
          </div>
          <a href="https://www.youtube.com/c/YoneyGallardos/">Yoney Gallardo - Canal de Youtube</a>
          <p>Yoney tiene un curso para casi cualquier cosa que se te ocurra en los campos de programación y diseño, y todos están grabados por él! En serio Yoney, ya dudamos si realmente sos humano o una computadora.</p>
        </li>

      </ul>
    </section>

    <section class="container-fluid">
      <h2 class="text-center">Descargas de Softwares</h2>
      <ul class="row d-flex p-0">
        <li class="col-md-3 list-group-item">
          <a href="https://www.artistapirata.com/">El Artista Pirata</a>
          <p>Web donde podrás descargar infinidad de Softwares gratis, incluyendo la Suite de Adobe, DAWs de primera calidad, programas de modelado 3D y un largo etcetera.</p>
        </li>

        <li class="col-md-3 list-group-item">
          <a href="https://www.free-css.com/">FREE-CSS</a>
          <p>3216 templates de HTML y CSS para descargar gratis. Te los vas a perder?</p>
        </li>        
        
        <li class="col-md-3 list-group-item">
          <a href="https://freebies.bypeople.com/">Freebies By People</a>
          <p>Iconos, tipografías, ebooks, temas, plugins, kits gráficos, etc. Si eres diseñador o desarrollador web de seguro más de una vez has necesitado algunos de estos recursos y te convendría muchísimo que fuesen no solo gratis, sino de uso libre, especialmente para uso comercial.
          Eso es justo lo que ofrecen en Freebies.ByPeople, una web en la que recogen todo tipo de contenido gratuito para diseñadores y programadores, seleccionado a mano y bien organizado para que los tengas siempre a mano.</p>
        </li>

        <li class="col-md-3 list-group-item">
          <a href="https://freebiesui.com/">Freebies UI</a>
          <p>Kits UI gratis para todos los programas de diseño. Photoshop, xd, Illustrator, etc.</p>
        </li>
      </ul>
    </section>

    <section class="container pt-4 bg-light">

      <h2 class="text-center my-2">Usuarios de Desarrollo Tools</h2>
      <ul class="my-4">
      <% list.forEach(function(e){ if(e.publico == true) { %>
        
        <li class="list-group-item">
          <h3><%= e.name %></h3>
          <p><%= e.msg %></p>
          <a target="_blank" href="<%= e.linkedin %>">Linkedin</a>
        </li>
      <%  } }) %> 
      </ul>
      <div class="text-center">
        <a class="btn btn-primary mb-5" href="testimonio">Añadir nuevo testimonio</a>
      </div>

    </section>

    <footer class="bg-primary py-5 d-flex justify-content-center">
      <div class="container text-white text-center h3">
        <p>Desarrollo Tools 2021</p>
      </div>
    </footer>
</body>
</html>